.header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 999;
    background: linear-gradient(to bottom right, #f0fdf4, #eff6ff);

    


  }
  .active{
    padding-bottom: 5px;
    border-bottom: 2px solid #166534;
  }
  .logo{
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Space between the image and text */
    }
  
  .logo p{
    font-size:1.5rem;
    font-weight:550;
    color: #166534

    ; /* Customize for unique Alfatract design */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  .nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 40px;
  }
  
  .link {
    cursor: pointer;
    text-decoration: none;
    color:black;
    font-size: 1rem;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;

  }
  
  .link:hover {
    color: #166534

    ;
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .login {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;

  }
  .logo img{
    width: 10%;
    height: 10%;
    object-fit: contain; /* Ensure the image scales properly */

    margin-right: 1%;
    border-radius: 5px;

  }
  
  .signIn {
    background-color: #166534;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;

  }
  
  .signIn:hover {
    background-color: #166534;
  }
  